<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <a class="navbar-brand" href="/" title="Página Inicial">Gestão de Funcionários</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
            <a class="nav-link" (click)="onOpenModal(null, 'add')" title="Adicionar Funcionário(a)">Adicionar Funcionário(a)<span
                  class="sr-only">(current)</span></a>
         </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
         <input class="form-control mr-sm-2" type="search" placeholder="Buscar Funcionário..." aria-label="Search" title="Buscar">
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit" title="Buscar">Buscar</button>
      </form>
   </div>
</nav>
<div class="container" id="main-container">
   <div class="row">
      <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
         <div class="card m-b-30">
            <div class="card-body row">
               <div class="col-6">
                  <a href="{{employee?.imageUrl}}" target="_blank" title="Foto"><img src="{{employee?.imageUrl}}" alt=""
                        class=" rounded-circle img-thumbnail"></a>
               </div>
               <div class="col-6 card-title align-self-center mb-0">
                  <h5>{{employee?.name}}</h5>
                  <p class="m-0">{{employee?.jobTitle}}</p>
               </div>
            </div>
            <ul class="list-group list-group-flush">
               <li class="list-group-item"><i class="fa fa-envelope float-right" title="E-mail"></i>Email : <a
                     href="#">{{employee?.email}}</a></li>
               <li class="list-group-item" ><i class="fa fa-phone float-right" title="Telefone"></i>Phone : {{employee?.phone}}</li>
            </ul>
            <div class="card-body">
               <div class="float-right btn-group btn-group-sm">
                  <a (click)="onOpenModal(employee, 'edit')" class="btn btn-primary tooltips" data-placement="top"
                     data-toggle="tooltip" title="Editar"><i class="fa fa-pencil"></i> </a>
                  <a (click)="onOpenModal(employee, 'delete')" class="btn btn-secondary tooltips" data-placement="top"
                     data-toggle="tooltip" title="Deletar"><i class="fa fa-times"></i></a>
               </div>
               <ul class="social-links list-inline mb-0">
                  <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                        href="" title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                  <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                        href="" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                        href="" title="Twitter"><i class="fa fa-twitter"></i></a></li>
               </ul>
            </div>
         </div>
      </div>

   </div>
</div>

<!-- Add funcionário -->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addEmployeeModalLabel">Adicionar Funcionário</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <!-- <form>  -->
            <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
               <div class="form-group">
                  <label for="name">Nome</label>
                  <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Nome" required>
               </div>
               <div class="form-group">
                  <label for="email">E-mail</label>
                  <input type="email" ngModel name="email" class="form-control" id="email" placeholder="E-mail"
                     required>
               </div>
               <div class="form-group">
                  <label for="phone">Cargo</label>
                  <input type="text" ngModel name="jobTitle" class="form-control" id="jobTitle" placeholder="Cargo"
                     required>
               </div>
               <div class="form-group">
                  <label for="phone">Telefone</label>
                  <input type="text" ngModel name="phone" class="form-control" id="phone" placeholder="Telefone"
                     required>
               </div>
               <div class="form-group">
                  <label for="phone">URL da imagem</label>
                  <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl"
                     placeholder="URL da imagem" required>
               </div>
               <div class="modal-footer">
                  <button type="button" id="add-employee-form" class="btn btn-secondary"
                     data-dismiss="modal" title="Fechar">Fechar</button>
                  <!-- <button  type="submit" class="btn btn-primary" >Salvar</button> -->
                  <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" title="Salvar">Salvar</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<!-- Editar funcionário -->
<div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <!-- <h5 class="modal-title" id="updateEmployeeModalLabel">Editar funcionário </h5> -->
            <h5 class="modal-title" id="updateEmployeeModalLabel">Editar funcionário(a) {{editEmployee?.name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <!-- <form> -->
            <form #editForm="ngForm">
               <div class="form-group">
                  <label for="name">Nome</label>
                  <input type="text" ngModel="{{editEmployee?.name}}" name="name" class="form-control" id="name"
                     placeholder="Nome" required>
               </div>
               <input type="hidden" ngModel="{{editEmployee?.id}}" name="id" class="form-control" id="id"
                  placeholder="Email">
               <input type="hidden" ngModel="{{editEmployee?.employeeCode}}" name="userCode" class="form-control"
                  id="userCode" placeholder="Email">
               <div class="form-group">
                  <label for="email">E-mail</label>
                  <input type="email" ngModel="{{editEmployee?.email}}" name="email" class="form-control" id="email"
                     placeholder="E-mail" required>
               </div>
               <div class="form-group">
                  <label for="phone">Cargo</label>
                  <input type="text" ngModel="{{editEmployee?.jobTitle}}" name="jobTitle" class="form-control"
                     id="jobTile" placeholder="Cargo" required>
               </div>
               <div class="form-group">
                  <label for="phone">Telefone</label>
                  <input type="text" ngModel="{{editEmployee?.phone}}" name="phone" class="form-control" id="phone"
                     placeholder="Telefone" required>
               </div>
               <div class="form-group">
                  <label for="phone">URL da imagem</label>
                  <input type="text" ngModel="{{editEmployee?.imageUrl}}" name="imageUrl" class="form-control"
                     id="imageUrl" placeholder="URL da imagem" required>
               </div>
               <div class="modal-footer">
                  <button type="button" id="update-employee-form" data-dismiss="modal"
                     class="btn btn-secondary" title="Fechar">Fechar</button>
                  <!-- <button href="#" data-dismiss="modal" class="btn btn-primary" >Atualizar</button> -->
                  <button (click)="onUpdateEmployee(editForm.value)" data-dismiss="modal"
                     class="btn btn-primary" title="Atualizar">Atualizar</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<!-- Deletar funcionário-->
<div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="deleteModelLabel">Deletar Funcionário</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <p>Tem certeza que deseja deletar o funcionário(a) {{deleteEmployee?.name}}?</p>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal" title="Não">Não</button>
               <button href="#" (click)="onDeleteEmployee(deleteEmployee?.id!)" class="btn btn-danger"
                  data-dismiss="modal" title="Sim">Sim</button>
            </div>
         </div>
      </div>
   </div>
</div>


<!-- Caso não tem funcionários é exibido essa notificação. -->
<div *ngIf="employees?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
   <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">Sem funcionários!</h4>
      <p>Nenhum funcionário foi encontrado.</p>
   </div>
</div>



<footer class="rodape">
   <div class="text-center py-3">
      Desenvolvido por:
      <a href="https://github.com/fcoiuri" target="_blank"> Iuri Mendes </a>
      <i class="fa fa-github" title="GitHub"></i>
   </div>
</footer>